.container {
    display: grid;

    grid-template-rows: 200px 200px 200px;
    grid-auto-columns: 200px;
    grid-auto-flow: column;

    gap: 20px;
}

.element {
    position: relative;
    height: 200px;
    width: 200px;
    border: 6px solid green;
    background-color: greenyellow;
    text-align: right;
    justify-content: end;
    font-size: 50px;
    font-weight: bold;
}

.element:nth-child(2), .element:nth-child(5) {
    background-color: rgb(125, 184, 36);
}

.element:nth-child(3), .element:nth-child(6) {
    background-color: rgb(83, 122, 25);
}

span {
    color: white;
    background-color: green;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}